google-generativeai
langchain
chromadb
pytube
opencv-python
youtube-transcript-api
openai
torchvision
ftfy
regex
tqdm
yt-dlp
langchain-chroma
langchain-community
langchain-huggingface
langchain-google-genai
ffmpeg-python
streamlit